<section class="about">
  <ul class="flex">
    <li class="registrations">
      <h1>Ruby on Rails 練習用「Facebook」</h1>
      <p>
        このサイトは練習用で作成されたFacebook模擬サイトです。
      </p>
    </li>
    <li class="registrations">
      <h2>新規アカウントを作成</h2>

      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= f.error_messages! %>

        <div class="field-new">
          <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>

        <div class="field-new">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="field-new">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        </div>

        <div class="field-new">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
        </div>

        <div class="actions">
          <%= f.submit "アカウントを作成", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </li>
  </ul>
</section>
