<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <div class="row">
      <%= form_for(@topic) do |f| %>
        <%= f.label :content %>
        <%= f.text_field :content, class: 'form-control'  %>
        <br>
        <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>

    <% @topics.each do |topic| %>
    <div class="row">
      <p>ユーザー名:<%= topic.user.name %></p>
      <p><%= topic.content %></p>
      <%= link_to "編集", edit_topic_path(topic.id) %>
      <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %>
    </div>
    <% end %>
  </div>
</div>
