<div class="users-show">
  <header class="user-show">
    <section class="main-header">
      <section class="user-show-profile-img">
        <%= profile_img(@user) %>
      </section>
      <ul>
        <li class="li-left">  <p><%= @user.name %></p></li>
        <li class="li-right">
          <%= button_tag( class: "btn btn-sm btn-bluegrey100") do %>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "fa fa-commenting" %>
          <% end %>
        </li>
        <li class="li-right">
          <%= render partial: 'follow_form', locals: { user: @user } if signed_in? %>
        </li>
      </ul>
    </section>
  </header>
</div>

<!-- mainBox -->
<div class="user-main">
  <div class="mainBox">
    <% @user.topics.each do |topic| %>
    <div class="row-topic-top">
      <nav class="navbar navbar-default-topic">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= profile_img(topic.user) %><b><%= topic.user.name %></b>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down fa-1x fa-topic"></i></a>
            <% if user_signed_in? %>
              <ul class="dropdown-menu">
                <li><%= link_to "編集", edit_topic_path(topic.id) %></li>
                <li><%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %></li>
              </ul>
            <% end %>
            </li>
          </ul>
        </div><!-- /.container-fluid -->
      </nav>
      <p><%= topic.content %></p>
      <p><%= link_to "コメントする", topic_path(topic), class: "fa fa-pencil-square-o" %></p>
    </div>
    <% end %>
  </div>
</div>

<!-- subBox -->
<div class="subBox">
  <ul>
    <li><h3 class="follow-title"><i class="fa fa-file-text fa-navy"></i>自己紹介</h3>
      <p class="introduction"><%= @user.introduction %></p>
    </li>
    <li><%= render 'followed' %></li>
    <li><%= render 'followers' %></li>
  </ul>
</div>
